* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container .header {
  width: 100%;
}

.container .header .header-content::before {
  content: '';
  position: absolute;
  background: #10d4e2;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: 1;
}

.container .header .header-content .content-logo {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 250px;
  align-items: center;
}

.container .header .header-content .content-logo .image {
  width: 300px;
  height: 200px;
  border-radius: 50%;
}

.container .header .header-content .content-logo .title {
  font-family: Georgia, serif;
  font-size: 40px;
}

.container .main {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.container .main .subtitle {
  font-family: Georgia, serif;
  font-size: 24px;
  margin: 10px 0;
}

.container .main .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Georgia, serif;
  font-size: 18px;
}

.container .footer {
  max-width: 100%;
  background-color: #10d4e2;
  max-height: 100px;
}

.container .footer::before {
  z-index: 1;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: #10d4e2;
}

.container .footer .content {
  position: relative;
  top: 5px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.container .footer .content .subtitle {
  font-family: Georgia, serif;
  font-size: 24px;
  margin: 10px 0;
  z-index: 4;
}

.container .footer .content .content-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.5;
}
